In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import mysql.connector
import networkx as nx
import geopandas as gpd
import pandas as pd
from shapely.geometry import Polygon,MultiPolygon,LineString,MultiLineString,LinearRing,Point
from shapely import symmetric_difference
from shapely.ops import nearest_points
from shapely.wkt import loads
import scipy
import time
import numpy as np
import random
from networkx.drawing.nx_pydot import graphviz_layout
import matplotlib.pyplot as plt
import osmnx as ox
import glob
from itertools import combinations,product
from copy import deepcopy
import os
from lib_contour_lines import *
import mysql.connector

In [2]:
#set global net_buffer_length=1000000; 
#set global max_allowed_packet=1000000000;

In [5]:

cnx = mysql.connector.connect(user='spirz', 
                              password='this_is_my_PASSWORD_m8',
                              host='localhost',
                              database='dem_from_contours_lines',
                              autocommit=True)
cursor = cnx.cursor(buffered=True,dictionary=True)
contours_lines_table_name='contours_lines'
tree_edges_table_name="tree_edges"
2

2

In [4]:
DELETE_TABLES=False
if DELETE_TABLES:
    try:
        cmd="""DROP TABLE `%s`"""%tree_edges_table_name
        cursor.execute(cmd)
    except:
        pass
    cmd="""DROP TABLE `%s`"""%contours_lines_table_name
    cursor.execute(cmd)
2

2

In [5]:
CREATE_TABLE=False
if CREATE_TABLE:
    cmd="""CREATE TABLE `%s`(
          `id` INT NOT NULL AUTO_INCREMENT,
          `source` INT,
          `is_closed` BOOLEAN NOT NULL,
          `elevation` FLOAT NOT NULL,
          `length` FLOAT,
          `number_points` FLOAT,
          `geometry` LINESTRING NOT NULL,
          PRIMARY KEY (id)
          )
          ENGINE=InnoDB;
        """%contours_lines_table_name
    cursor.execute(cmd)
2

2

In [6]:
#ASSUME GEODATAFRAMES ARE IN UTM COORDINATES
GENERATE=False
if GENERATE:
    t1=time.time()
    file_paths=glob.glob('COURBE_1-0__SHP_LAMB93_D02A_2021-01-01/COURBE/1_DONNEES_LIVRAISON_2021-01-01/COURBE_1-0_SHP_LAMB93_D02A_2021/*.shp')
    file_paths+=glob.glob('COURBE_1-0__SHP_LAMB93_D02B_2021-01-01/COURBE/1_DONNEES_LIVRAISON_2021-01-01/COURBE_1-0_SHP_LAMB93_D02B_2021/*.shp')

    for k,file_path in enumerate(file_paths[:]):
        print(file_path)
        df=gpd.read_file(file_path) 
        df['elevation']=df['ALTITUDE']
        add_contour_lines_to_database(df,cursor,source=k)
        t3=time.time()
        cmd="""SELECT c1.id AS id_1,ST_asText(c1.geometry) AS border_1,c2.id AS id_2,ST_asText(c2.geometry) AS border_2 FROM
        (SELECT * FROM %s WHERE source!=%i) AS c1
        JOIN (SELECT * FROM %s WHERE source=%i) AS c2
        ON c1.elevation=c2.elevation AND c1.length=c2.length
        
        ;
        
        """%(contours_lines_table_name,k,contours_lines_table_name,k)
        cursor.execute(cmd)
        L=cursor.fetchall()
        t4=time.time()
        print('getting pairs took %f'%(t4-t3))
        bad_ids=[elem['id_2'] for elem in L if loads(elem['border_1'])==loads(elem['border_2'])]

        t5=time.time()
        print('comparing pairs took %f'%(t5-t4))
        if len(bad_ids)>0:
            bad_ids_string='(%s)'%', '.join([str(bad_id) for bad_id in bad_ids])
            cmd="DELETE FROM %s WHERE id IN %s"%(contours_lines_table_name,bad_ids_string)
            cursor.execute(cmd)
            t6=time.time()
            print('deleting took %f'%(t6-t5))


        


    t2=time.time()
    print(t2-t1)
2

2

In [7]:
t1=time.time()
cmd="SELECT DISTINCT elevation FROM %s ORDER BY elevation"%contours_lines_table_name
cmd=cursor.execute(cmd)
elevations=np.array([elem['elevation'] for elem in cursor.fetchall()])
t2=time.time()
print(t2-t1)

0.10340261459350586

In [8]:
MERGE=False
if MERGE:
    t1=time.time()
    for level in elevations:
        print(level)
        level_open_contours_df=get_level_contours_df(cursor,level,contours_lines_table_name,is_closed=False)
        if level_open_contours_df is not None:
            crs=level_open_contours_df.estimate_utm_crs()
            level_open_contours_df=level_open_contours_df.to_crs(crs)
            merged_contours_lines=get_contour_lines_from_elevation_df(level_open_contours_df)
            if len(merged_contours_lines)>0:
                merged_contours_df=gpd.GeoDataFrame([{'geometry':ls} for ls in merged_contours_lines],geometry='geometry',crs=crs)
                merged_contours_df['elevation']=level
                add_contour_lines_to_database(merged_contours_df,cursor,is_closed=True)

                cursor.execute(cmd)
    t2=time.time()
    print(t2-t1)
2

2

In [9]:
DELETE_EDGE_TABLE=False
if DELETE_EDGE_TABLE:
    cmd="""DROP TABLE `%s`"""%tree_edges_table_name
    cursor.execute(cmd)
2

2

In [10]:
COMPUTE_TREE=False
tree_edges_table_name="tree_edges"

if COMPUTE_TREE:
    t1=time.time()
    edges=[]
    for k,level in enumerate(elevations):
        print(level)
        nearby_levels=[level]
        if k!=0:
            nearby_levels.append(elevations[k-1])
        if k!=len(elevations)-1:
            nearby_levels.append(elevations[k+1])
            
        polys_df=get_level_contours_df(cursor,level,contours_lines_table_name,is_closed=True)
        if polys_df is not None:
            polys_df['geometry']=polys_df['geometry'].apply(lambda ls:Polygon(ls))
            crs=polys_df.estimate_utm_crs()
            polys_df=polys_df.to_crs(crs)
            polys_df['area']=polys_df['geometry'].apply(lambda poly:poly.area)

            points_dfs=[get_level_contours_df(cursor,nearby_level,contours_lines_table_name,is_closed=True) for nearby_level in nearby_levels]
            points_dfs=[df for df in points_dfs if df is not None]
            if len(points_dfs)>0:
                points_df=pd.concat(points_dfs)
                points_df=points_df.to_crs(crs)
                points_df['area']=points_df['geometry'].apply(lambda ls:Polygon(ls).area)
                points_df['geometry']=points_df['geometry'].apply(lambda ls:ls.representative_point())

                inter=gpd.overlay(polys_df,points_df,keep_geom_type=False)
                inter=inter[inter.id_1!=inter.id_2]
                
                edges+=list(zip(inter['id_1'],inter['id_2'],inter['area_1']-inter['area_2']))

    G=nx.DiGraph()
    G.add_edges_from([(u,v,{'weight':area_diff}) for u,v,area_diff in edges])
    for node in G.nodes():
        in_edges=[(u,v,d) for u,v,d in G.in_edges(node,data=True) if u!=v]
        if len(in_edges)>1:
            in_edges=sorted(in_edges,key=lambda edge:edge[2]['weight'])
            for u,v,_ in in_edges[1:]:
                G.remove_edge(u,v)
    tree_edges=G.edges()

    cmd="""CREATE TABLE `%s`(
    `begin` INT NOT NULL,
    `end` INT NOT NULL,
    FOREIGN KEY (begin) REFERENCES %s(id),
    FOREIGN KEY (end) REFERENCES %s(id) ,
    PRIMARY KEY (begin,end)
    );
        """%(tree_edges_table_name,contours_lines_table_name,contours_lines_table_name)
    
    cursor.execute(cmd)
    
    string_list=',\n'.join(['(%i,%i)'%(u,v) for (u,v) in tree_edges])
    cmd="""INSERT INTO %s (`begin`,`end`) VALUES %s;"""%(tree_edges_table_name,string_list)
    cursor.execute(cmd)
    
    t2=time.time()
    print(t2-t1)

In [11]:
t1=time.time()
G=build_graph(cursor)
t2=time.time()
print(t2-t1)

0.578125

In [12]:
t1=time.time()
place_name='Corse, France'
G_osm=ox.graph_from_place(place_name,network_type='drive')
G_osm=to_multi_graph(G_osm)
osm_crs=ox.graph_to_gdfs(G_osm,edges=False).estimate_utm_crs()
G_osm=ox.project_graph(G_osm,to_crs=osm_crs)
add_missing_geometries(G_osm)
t2=time.time()
print(t2-t1)

60.293384313583374

In [29]:
t1=time.time()
osm_edges_df=ox.graph_to_gdfs(G_osm,nodes=False,edges=True).explode()
osm_edges_df['edge']=osm_edges_df.index
osm_edges_df=osm_edges_df.loc[:,['edge','geometry']]
osm_edges_df['number_of_points']=osm_edges_df['geometry'].apply(lambda ls:len(ls.coords))
t2=time.time()
print(t2-t1)
osm_edges_df

/tmp/ipykernel_12266/1975615014.py:2: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  osm_edges_df=ox.graph_to_gdfs(G_osm,nodes=False,edges=True).explode()

0.867875337600708

                                                           edge  \
u           v           key
14468319    15905397    0   0        (14468319, 15905397, 0, 0)
            1434053206  0   0      (14468319, 1434053206, 0, 0)
            1434053161  0   0      (14468319, 1434053161, 0, 0)
15905397    1976904946  0   0      (15905397, 1976904946, 0, 0)
            1976906939  0   0      (15905397, 1976906939, 0, 0)
...                                                         ...
9744995304  9744995311  0   0    (9744995304, 9744995311, 0, 0)
            9744995310  0   0    (9744995304, 9744995310, 0, 0)
9964974606  9964974609  0   0    (9964974606, 9964974609, 0, 0)
9964974610  9964974611  0   0    (9964974610, 9964974611, 0, 0)
11329589123 11329589133 0   0  (11329589123, 11329589133, 0, 0)

                                                                        geometry  \
u           v           key
14468319    15905397    0   0  LINESTRING (525532.710 4599879.701, 525543.715...
            1434053206  0   0  LINESTRING (525532.710 4599879.701, 525519.651...
            1434053161  0   0  LINESTRING (525532.710 4599879.701, 525532.752...
15905397    1976904946  0   0  LINESTRING (526252.098 4600660.017, 526286.419...
            1976906939  0   0  LINESTRING (526252.098 4600660.017, 526253.327...
...                                                                          ...
9744995304  9744995311  0   0  LINESTRING (496541.756 4720170.475, 496521.473...
            9744995310  0   0  LINESTRING (496541.756 4720170.475, 496558.928...
9964974606  9964974609  0   0  LINESTRING (494174.708 4719764.250, 494163.668...
9964974610  9964974611  0   0  LINESTRING (494100.379 4719512.527, 494038.489...
11329589123 11329589133 0   0  LINESTRING (493598.201 4718833.478, 493587.298...

                               number_of_points
u           v           key
14468319    15905397    0   0                82
            1434053206  0   0                 4
            1434053161  0   0                20
15905397    1976904946  0   0                12
            1976906939  0   0                 7
...                                         ...
9744995304  9744995311  0   0                 2
            9744995310  0   0                 7
9964974606  9964974609  0   0                 4
9964974610  9964974611  0   0                 2
11329589123 11329589133 0   0                11

[20792 rows x 3 columns]

In [30]:
osm_edges_df=osm_edges_df.sample(5000)
osm_edges_df

,,,,edge,geometry,number_of_points
u,v,key,,,,
2791064075,2791064077,0,0,"(2791064075, 2791064077, 0, 0)","LINESTRING (542201.554 4691778.082, 542191.110...",3
6269758052,6269758056,0,0,"(6269758052, 6269758056, 0, 0)","LINESTRING (534339.466 4687735.304, 534333.808...",7
5397422862,5397422863,0,0,"(5397422862, 5397422863, 0, 0)","LINESTRING (492753.864 4619609.217, 492716.082...",2
10600240021,10600240022,0,0,"(10600240021, 10600240022, 0, 0)","LINESTRING (482960.304 4711508.648, 482951.795...",3
1041170062,1041170161,0,0,"(1041170062, 1041170161, 0, 0)","LINESTRING (529625.903 4698026.798, 529631.442...",91
...,...,...,...,...,...,...
394580584,3486835877,0,0,"(394580584, 3486835877, 0, 0)","LINESTRING (478006.491 4644059.699, 478011.288...",31
335634038,2232151985,0,0,"(335634038, 2232151985, 0, 0)","LINESTRING (481488.608 4711106.868, 481476.266...",8
394858938,8292503730,0,0,"(394858938, 8292503730, 0, 0)","LINESTRING (486996.689 4648433.535, 487034.205...",8
347484032,347507120,0,0,"(347484032, 347507120, 0, 0)","LINESTRING (532612.681 4647968.014, 532544.553...",3
338530333,338530342,0,0,"(338530333, 338530342, 0, 0)","LINESTRING (539194.227 4697571.422, 539199.745...",7

In [42]:
t1=time.time()
intersection_ls=get_recursive_intersections(G,cursor,osm_edges_df,osm_crs)
t2=time.time()
print(t2-t1)

root 1.0
113762 2.0
14978 2
34299 2
36137 2
39181 2
39512 2
41133 8.0
43114 2
43185 2
44648 12.0
60834 2
113766 3.0
28511 3
34654 3
35905 6.0
35041 6.0
37320 3
37513 12.0
40072 3
47954 3
48435 3
113771 4.0
23281 4
28955 4
29319 16.0
24430 16.0
52456 4
66114 4
68056 4
113776 5.0
40570 5
41115 5
53135 11.0
59247 5
65063 5
113783 6.0
57519 6.0
67323 6
113789 7.0
17188 7
20582 18.0
26286 7.0
33851 7
35049 7.0
45793 16.0
46417 16.0
61884 7
61974 7
113792 8.0
10710 8.0
40760 8
41194 13.0
43623 13.0
45382 13
41914 63.0
44244 8
45039 8
45927 8.0
113797 9.0
21128 14.0
34942 11.0
45786 9
47033 11.0
113803 10.0
25772 10
43880 10.0
64460 10
113806 11.0
29368 11.0
34400 14.0
37902 11.0
39330 13.0
40362 11.0
44311 31.0
61462 11
66633 11
113811 12.0
18171 14.0
37957 17.0
38993 12.0
113817 13.0
13007 19.0
45127 35.0
54894 13.0
61153 13
113824 14.0
15531 14
22172 15.0
23704 15.0
39367 14
41533 14.0
42272 14
42758 21.0
45074 21.0
44277 14
46504 20.0
66630 17.0
59860 17.0
113830 15.0
42608 15
45145 28.0
55192 15
57807 15
66267 18.0
113834 16.0
33033 16.0
36532 17.0
35555 17
40385 46.0
113836 17.0
31957 24.0
113838 18.0
38124 26.0
39073 18
41863 19.0
42390 19.0
46045 25.0
113842 19.0
13404 22.0
32870 21.0
40702 36.0
41119 19
44637 24.0
113846 20.0
573 20
4333 31.0
22965 44.0
37373 20
44587 23.0
62313 41.0
113851 21.0
6589 21.0
34541 21
113854 22.0
37122 22
38298 22.0
42056 69.0
46723 26.0
113857 23.0
33074 23
33652 23
113860 24.0
113863 25.0
35357 25
113867 26.0
40363 43.0
113871 27.0
57434 27
113875 28.0
32895 35.0
57803 28
113879 29.0
113883 30.0
33169 30
113888 31.0
113892 32.0
34671 35.0
36588 35.0
35233 32
113897 33.0
38502 33
55304 33
113900 34.0
34992 36.0
37730 36.0
113902 35.0
37303 35
38857 47.0
113904 36.0
31999 36
33544 36
65368 41.0
61368 41.0
88969 36
113905 37.0
113906 38.0
113908 39.0
36665 39
113909 40.0
113910 41.0
113912 42.0
38584 155.0
39921 155.0
113914 43.0
113916 44.0
18849 49.0
36700 47.0
38066 53.0
113919 45.0
113921 46.0
88408 47.0
113923 47.0
113925 48.0
33533 114.0
113927 49.0
35632 49
113929 50.0
36660 51.0
33044 51
113931 51.0
113933 52.0
15008 80.0
113935 53.0
113936 54.0
113937 55.0
113938 56.0
63224 58.0
67659 58.0
113939 57.0
113940 58.0
113941 59.0
64428 59.0
113942 60.0
31119 120.0
113943 61.0
113944 62.0
113945 63.0
42207 64.0
113946 64.0
43670 65.0
41359 65.0
113947 65.0
65526 65.0
113948 66.0
113949 67.0
59002 74.0
63190 74.0
113950 68.0
34964 81.0
113952 69.0
36263 76.0
113954 70.0
64100 71.0
64998 71.0
113956 71.0
67770 71
113958 72.0
113960 73.0
113962 74.0
35709 76.0
113964 75.0
19324 110.0
113966 76.0
113969 77.0
113973 78.0
113976 79.0
113981 80.0
21031 80
52526 84.0
52700 84.0
113986 81.0
3468 84.0
798 84
24796 118.0
113991 82.0
40095 93.0
113996 83.0
114001 84.0
114007 85.0
114014 86.0
114019 87.0
114024 88.0
33530 88
114029 89.0
114034 90.0
53212 117.0
114039 91.0
114043 92.0
114046 93.0
23131 93.0
53227 98.0
114051 94.0
114056 95.0
59963 304.0
114060 96.0
52808 119.0
56877 101.0
114064 98.0
36102 98.0
114074 100.0
20 183.0
761 124.0
114085 102.0
114096 104.0
114108 106.0
114120 108.0
33618 129.0
114130 110.0
114140 112.0
114150 114.0
114164 120.0
39715 171.0
114219 126.0
114262 132.0
49258 156.0
114303 139.0
114333 148.0
30608 148.0
49260 149.0
47589 149.0
114378 157.0
114424 166.0
114471 177.0
114528 196.0
114602 248.0
114937 469.0
114165 167.0
114479 351.0
114100 136.0
114066 136.0
113967 264.0
113852 36.0
113796 7.0
3603.5265522003174

In [46]:
intersection_ls

,elevation,depth,edge,geometry
0,0.0,1,"(2791064075, 2791064077, 0, 0)",POINT (542201.554 4691778.082)
1,0.0,1,"(2791064075, 2791064077, 0, 0)",POINT (542193.332 4691878.669)
2,0.0,1,"(6269758052, 6269758056, 0, 0)",POINT (534339.466 4687735.304)
3,0.0,1,"(6269758052, 6269758056, 0, 0)",POINT (534291.545 4687656.743)
4,0.0,1,"(5397422862, 5397422863, 0, 0)",POINT (492753.864 4619609.217)
...,...,...,...,...
363769,110.0,23,"(310478838, 5158333731, 0, 0)",POINT (522014.362 4608777.725)
363770,115.0,24,"(310478838, 5158333731, 0, 0)",POINT (521998.484 4608875.945)
363771,115.0,24,"(310478838, 5158333731, 0, 0)",POINT (522014.362 4608777.725)
363772,120.0,25,"(310478838, 5158333731, 0, 0)",POINT (522005.562 4608837.316)
363773,120.0,25,"(310478838, 5158333731, 0, 0)",POINT (522014.362 4608777.725)

In [47]:
intersection_ls['depth'].unique()

array([  1,   2,   3,   9,   4,   5,   6,   8,   7,  10,  15,  16,  12,
        13,  14,  11,  17,  34,  30,  31,  22,  23,  26,  21,  25,  19,
        32,  27,  29,  18,  24,  33,  20,  28,  35,  46,  43,  50,  49,
        41,  47,  44,  48,  36,  42,  38,  51,  37,  45,  40,  39,  52,
        54,  53,  77, 130,  64,  71,  59,  94,  92,  74, 101,  90,  81,
        63,  61, 119, 139,  96, 138,  72, 123, 104, 143,  88, 131, 148,
       144,  87,  85,  91,  93, 105,  75,  76, 111,  97, 132,  99, 120,
        66,  86, 134,  70, 135,  68,  69, 137, 122, 100,  58, 115,  82,
        98, 117, 147, 112, 114,  95, 145,  65, 129, 150, 142, 108,  56,
       151, 110,  57, 141,  89, 125, 102, 103, 140, 106, 121, 133, 107,
       152, 109, 149, 127, 154, 153,  79,  80, 146,  83, 128, 124,  67,
        84, 113,  78, 126,  55, 118, 156,  62, 155,  60, 116, 136,  73,
       157, 160, 158, 159, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 195, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       196, 200, 197, 198, 199, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275])

In [ ]:
254.8178539276123,13092