In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import mysql.connector
import networkx as nx
import geopandas as gpd
import pandas as pd
from shapely.geometry import Polygon,MultiPolygon,LineString,MultiLineString,LinearRing,Point
from shapely import symmetric_difference
from shapely.ops import nearest_points
from shapely.wkt import loads
import scipy
import time
import numpy as np
import random
from networkx.drawing.nx_pydot import graphviz_layout
import matplotlib.pyplot as plt
import osmnx as ox
import glob
from itertools import combinations,product
from copy import deepcopy
import os
from lib_contour_lines import *
import mysql.connector

In [2]:

user='spirz'
password='this_is_my_PASSWORD_m8'
host='localhost'
database='dem_from_contours_lines'
contours_lines_table_name='contours_lines'
osm_nodes_table_name="osm_nodes"
osm_edges_table_name="osm_edges"
intersections_table_name="intersections"


2

2

In [3]:
DBM=DataBaseManager(user=user,password=password,host=host,database=database,
            contours_lines_table_name=contours_lines_table_name,
            osm_nodes_table_name=osm_nodes_table_name,
            osm_edges_table_name=osm_edges_table_name,
            intersections_table_name=intersections_table_name)
2

2

In [4]:
t1=time.time()
DBM.create_tables_v2()
t2=time.time()
print(t2-t1)

reconnected !

ProgrammingError: 1050 (42S01): Table 'osm_nodes' already exists

In [5]:
t1=time.time()
place_name='Corse, France'
G_osm=ox.graph_from_place(place_name,network_type='drive')

t2=time.time()
print(t2-t1)

51.47179865837097

In [6]:
t1=time.time()
G_osm,osm_crs=preprocess_osm_graph(G_osm)
t2=time.time()
print(t2-t1)

9.101807117462158

In [7]:
ADD_OSM_DATA=True
if ADD_OSM_DATA:
    t1=time.time()
    DBM.compute_all_intersections(G_osm,osm_crs)    
    t2=time.time()
    print(t2-t1)
2

0.000000<=elevation<50.000000 :7.989320
50.000000<=elevation<100.000000 :9.209401
100.000000<=elevation<150.000000 :8.205878
150.000000<=elevation<200.000000 :7.189646
200.000000<=elevation<250.000000 :6.885217
250.000000<=elevation<300.000000 :6.764971
300.000000<=elevation<350.000000 :7.004101
350.000000<=elevation<400.000000 :7.140483
400.000000<=elevation<450.000000 :7.056152
450.000000<=elevation<500.000000 :6.850703
500.000000<=elevation<550.000000 :6.401889
550.000000<=elevation<600.000000 :6.146344
600.000000<=elevation<650.000000 :5.752196
650.000000<=elevation<700.000000 :5.496817
700.000000<=elevation<750.000000 :5.164821
750.000000<=elevation<800.000000 :4.868791
800.000000<=elevation<850.000000 :4.555223
850.000000<=elevation<900.000000 :4.233670
900.000000<=elevation<950.000000 :3.994162
950.000000<=elevation<1000.000000 :3.759065
1000.000000<=elevation<1050.000000 :3.538717
1050.000000<=elevation<1100.000000 :3.320755
1100.000000<=elevation<1150.000000 :3.050808
1150.000000<=elevation<1200.000000 :2.982554
1200.000000<=elevation<1250.000000 :2.689419
1250.000000<=elevation<1300.000000 :2.434679
1300.000000<=elevation<1350.000000 :2.268054
1350.000000<=elevation<1400.000000 :2.110910
1400.000000<=elevation<1450.000000 :2.000256
1450.000000<=elevation<1500.000000 :1.836541
1500.000000<=elevation<1550.000000 :1.738677
1550.000000<=elevation<1600.000000 :1.628039
1600.000000<=elevation<1650.000000 :1.450639
1650.000000<=elevation<1700.000000 :1.319979
1700.000000<=elevation<1750.000000 :1.195017
1750.000000<=elevation<1800.000000 :1.101774
1800.000000<=elevation<1850.000000 :0.998259
1850.000000<=elevation<1900.000000 :0.888449
1900.000000<=elevation<1950.000000 :0.790307
1950.000000<=elevation<2000.000000 :0.673256
2000.000000<=elevation<2050.000000 :0.566534
2050.000000<=elevation<2100.000000 :0.498883
2100.000000<=elevation<2150.000000 :0.447833
2150.000000<=elevation<2200.000000 :0.366974
2200.000000<=elevation<2250.000000 :0.278631
2250.000000<=elevation<2300.000000 :0.221477
2300.000000<=elevation<2350.000000 :0.189104
2350.000000<=elevation<2400.000000 :0.170085
2400.000000<=elevation<2450.000000 :0.138935
2450.000000<=elevation<2500.000000 :0.129115
2500.000000<=elevation<2550.000000 :0.099737
2550.000000<=elevation<2600.000000 :0.083118
2600.000000<=elevation<2650.000000 :0.078498
178.04776740074158

2

In [8]:
DBM.execute("SELECT * FROM %s"%intersections_table_name)
len(DBM.cursor.fetchall())

85269

In [ ]:
298.22796416282654,85269