In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import mysql.connector
import networkx as nx
import geopandas as gpd
import pandas as pd
from shapely.geometry import Polygon,MultiPolygon,LineString,MultiLineString,LinearRing,Point
from shapely import symmetric_difference
from shapely.ops import nearest_points
from shapely.wkt import loads
import scipy
import time
import numpy as np
import random
from networkx.drawing.nx_pydot import graphviz_layout
import matplotlib.pyplot as plt
import osmnx as ox
import glob
from itertools import combinations,product
from copy import deepcopy
import os
from lib_contour_lines import *
import mysql.connector

In [2]:

cnx = mysql.connector.connect(user='spirz', 
                              password='this_is_my_PASSWORD_m8',
                              host='localhost',
                              database='dem_from_contours_lines',
                              autocommit=True)
cursor = cnx.cursor(buffered=True,dictionary=True)
contours_lines_table_name='contours_lines'
###
tree_edges_table_name="tree_edges"
####
osm_nodes_table_name="osm_nodes"
osm_edges_table_name="osm_edges"
intersections_table_name="intersections"
2

2

In [3]:
DELETE_TABLES=True
if DELETE_TABLES:
    cmd="""DROP TABLE IF EXISTS `%s`"""%intersections_table_name
    cursor.execute(cmd)
    cmd="""DROP TABLE IF EXISTS `%s`"""%osm_edges_table_name
    cursor.execute(cmd)
    cmd="""DROP TABLE IF EXISTS `%s`"""%osm_nodes_table_name
    cursor.execute(cmd)

2

2

In [4]:
CREATE_TABLES=True
if CREATE_TABLES:
    cmd="""CREATE TABLE `%s`(
    `osm_id` BIGINT NOT NULL,
    `geometry` POINT NOT NULL,
    `elevation` FLOAT,

    PRIMARY KEY (osm_id)
    );
        """%osm_nodes_table_name
    
    cursor.execute(cmd)

    cmd="""CREATE TABLE `%s`(
    `osm_begin` BIGINT NOT NULL,
    `osm_end` BIGINT NOT NULL,
    `osm_key` INT NOT NULL,
    `length` FLOAT NOT NULL,
    `intersects` BOOLEAN,


    FOREIGN KEY (osm_begin) REFERENCES %s(osm_id),
    FOREIGN KEY (osm_end) REFERENCES %s(osm_id),
    PRIMARY KEY (osm_begin,osm_end,osm_key)

    );
        """%(osm_edges_table_name,osm_nodes_table_name,osm_nodes_table_name)
    
    cursor.execute(cmd)

    
    cmd="""CREATE TABLE `%s`(
        `id` INT NOT NULL AUTO_INCREMENT,
        `osm_begin` BIGINT NOT NULL,
        `osm_end` BIGINT NOT NULL,
        `osm_key` INT NOT NULL,
        `edge_coordinate` FLOAT NOT NULL,
        `geometry` POINT NOT NULL,
        `elevation` FLOAT NOT NULL,

        FOREIGN KEY (osm_begin,osm_end,osm_key) REFERENCES %s(osm_begin,osm_end,osm_key),
        UNIQUE (osm_begin,osm_end,osm_key,edge_coordinate),
        PRIMARY KEY (id)

          )
          ENGINE=InnoDB;
        """%(intersections_table_name,osm_edges_table_name)
    cursor.execute(cmd)
    

2

2

In [5]:
t1=time.time()
place_name='Haute Corse, France'
G_osm=ox.graph_from_place(place_name,network_type='drive')
loops=[edge for edge in G_osm.edges() if edge[0]==edge[1]]
G_osm.remove_edges_from(loops)
G_osm=to_multi_graph(G_osm)
osm_crs=ox.graph_to_gdfs(G_osm,edges=False).estimate_utm_crs()
G_osm=ox.project_graph(G_osm,to_crs=osm_crs)
add_missing_geometries(G_osm)
t2=time.time()
print(t2-t1)
len(G_osm.nodes()),len(G_osm.edges())

32.464789152145386

(8551, 10201)

In [6]:
t1=time.time()
osm_edges_df=ox.graph_to_gdfs(G_osm,nodes=False,edges=True)
osm_edges_df['edge']=osm_edges_df.index
osm_edges_df=osm_edges_df.loc[:,['edge','geometry']]
osm_edges_df['number_of_points']=osm_edges_df['geometry'].apply(lambda ls:len(ls.coords))
osm_edges_df=osm_edges_df.set_index(np.arange(len(osm_edges_df)))
osm_edges_df['id_edge']=osm_edges_df.index
t2=time.time()
print(t2-t1)
osm_edges_df

0.18508195877075195

,edge,geometry,number_of_points,id_edge
0,"(14471679, 559203063, 0)","LINESTRING (513674.892 4668616.253, 513676.794...",115,0
1,"(14471679, 1249122279, 0)","LINESTRING (513674.892 4668616.253, 513670.837...",99,1
2,"(14471679, 9432824701, 0)","LINESTRING (513674.892 4668616.253, 513678.385...",960,2
3,"(559203063, 1249120583, 0)","LINESTRING (512760.729 4666834.201, 512751.915...",3,3
4,"(15901832, 1345257677, 0)","LINESTRING (543646.921 4669055.256, 543673.984...",2,4
...,...,...,...,...
10196,"(9025987889, 2219906091, 0)","LINESTRING (494959.779 4720020.262, 494962.220...",4,10196
10197,"(9081029075, 59744536, 0)","LINESTRING (494957.164 4720032.367, 494953.329...",4,10197
10198,"(9081029075, 14471820, 0)","LINESTRING (494957.164 4720032.367, 494956.752...",3,10198
10199,"(9744995304, 9744995311, 0)","LINESTRING (496541.756 4720170.475, 496521.473...",2,10199
10200,"(9744995304, 9744995310, 0)","LINESTRING (496541.756 4720170.475, 496558.928...",7,10200

In [7]:
t1=time.time()
intersection=increasing_elevations_intersections(osm_edges_df,osm_crs,cursor)
t2=time.time()
print('total : %f'%(t2-t1))

0.000000<=elevation<50.000000 :4.761411
50.000000<=elevation<100.000000 :5.308592
100.000000<=elevation<150.000000 :5.101337
150.000000<=elevation<200.000000 :5.035397
200.000000<=elevation<250.000000 :5.492108
250.000000<=elevation<300.000000 :5.449070
300.000000<=elevation<350.000000 :7.481649
350.000000<=elevation<400.000000 :6.359187
400.000000<=elevation<450.000000 :6.477753
450.000000<=elevation<500.000000 :6.301240
500.000000<=elevation<550.000000 :5.773319
550.000000<=elevation<600.000000 :6.425088
600.000000<=elevation<650.000000 :7.297439
650.000000<=elevation<700.000000 :7.103457
700.000000<=elevation<750.000000 :6.458812
750.000000<=elevation<800.000000 :7.075906
800.000000<=elevation<850.000000 :5.050310
850.000000<=elevation<900.000000 :4.359910
900.000000<=elevation<950.000000 :4.003208
950.000000<=elevation<1000.000000 :3.793034
1000.000000<=elevation<1050.000000 :3.455006
1050.000000<=elevation<1100.000000 :3.224403
1100.000000<=elevation<1150.000000 :3.699182
1150.000000<=elevation<1200.000000 :3.817641
1200.000000<=elevation<1250.000000 :4.689449
1250.000000<=elevation<1300.000000 :4.543647
1300.000000<=elevation<1350.000000 :4.646310
1350.000000<=elevation<1400.000000 :4.399521
1400.000000<=elevation<1450.000000 :4.386003
1450.000000<=elevation<1500.000000 :4.635932
1500.000000<=elevation<1550.000000 :3.919863
1550.000000<=elevation<1600.000000 :3.565295
1600.000000<=elevation<1650.000000 :3.576039
1650.000000<=elevation<1700.000000 :2.602528
1700.000000<=elevation<1750.000000 :2.973737
1750.000000<=elevation<1800.000000 :1.972193
1800.000000<=elevation<1850.000000 :1.811720
1850.000000<=elevation<1900.000000 :1.390602
1900.000000<=elevation<1950.000000 :1.328909
1950.000000<=elevation<2000.000000 :1.131692
2000.000000<=elevation<2050.000000 :0.933583
2050.000000<=elevation<2100.000000 :0.749480
2100.000000<=elevation<2150.000000 :0.638148
2150.000000<=elevation<2200.000000 :0.531681
2200.000000<=elevation<2250.000000 :0.585895
2250.000000<=elevation<2300.000000 :0.356942
2300.000000<=elevation<2350.000000 :0.317254
2350.000000<=elevation<2400.000000 :0.261320
2400.000000<=elevation<2450.000000 :0.287376
2450.000000<=elevation<2500.000000 :0.302060
2500.000000<=elevation<2550.000000 :0.135414
2550.000000<=elevation<2600.000000 :0.090000
2600.000000<=elevation<2650.000000 :0.066563
total : 186.178835

In [8]:
len(intersection),len(intersection.drop_duplicates(['edge','edge_coordinate']))

(48664, 45447)

In [9]:
t1=time.time()
bad_indexes=[]
for _,df in intersection.groupby(['edge','edge_coordinate']):
    if len(df)>1:
        if len(df['elevation'].unique())>1:
            print('c est la merde')
        else:
            bad_indexes+=list(df.index[1:])
intersection=intersection.drop(labels=bad_indexes)
t2=time.time()
print(t2-t1)

33.65165901184082

In [10]:
bad_indexes

[48209,
 48212,
 48219,
 48221,
 48223,
 48227,
 48319,
 48321,
 48323,
 48325,
 48327,
 48335,
 48342,
 48341,
 48338,
 48337,
 48445,
 48447,
 48448,
 48446,
 48344,
 48331,
 48328,
 48320,
 48224,
 48222,
 48218,
 48208,
 5197,
 36828,
 44902,
 44898,
 44897,
 44896,
 44895,
 44894,
 44701,
 44702,
 46209,
 46210,
 46211,
 46214,
 45055,
 45056,
 45057,
 45042,
 44710,
 44711,
 44713,
 44715,
 46120,
 46121,
 46122,
 46123,
 46126,
 44666,
 44669,
 44670,
 44667,
 44671,
 44672,
 44668,
 44658,
 43531,
 45086,
 43375,
 43373,
 43372,
 43370,
 43371,
 43367,
 43369,
 43366,
 43364,
 43361,
 43360,
 43359,
 42230,
 42229,
 45080,
 45081,
 45077,
 45075,
 45076,
 45079,
 45036,
 42778,
 42776,
 42774,
 42773,
 42769,
 40933,
 40930,
 40929,
 40926,
 40921,
 40918,
 40920,
 45034,
 42758,
 42756,
 42755,
 42754,
 42751,
 42750,
 42749,
 40898,
 40896,
 40893,
 40892,
 40891,
 40890,
 26893,
 26895,
 26896,
 26897,
 26898,
 29144,
 29145,
 29148,
 30662,
 30666,
 30668,
 34217,
 34216,
 34213,
 26830,
 26829,
 26828,
 23772,
 23769,
 23768,
 26835,
 23786,
 23785,
 23784,
 23783,
 30709,
 30708,
 30707,
 30706,
 30705,
 30703,
 30702,
 29200,
 29196,
 29198,
 29195,
 29194,
 29193,
 29192,
 29189,
 29190,
 29191,
 26884,
 26883,
 26882,
 26880,
 26879,
 26873,
 26874,
 26875,
 26876,
 26877,
 26872,
 26871,
 23927,
 23924,
 23920,
 23921,
 30688,
 30687,
 30686,
 30685,
 30684,
 29172,
 29170,
 26856,
 26854,
 26852,
 26849,
 26848,
 23904,
 23903,
 23902,
 23901,
 48615,
 48609,
 48610,
 48611,
 48608,
 48624,
 48625,
 48626,
 48627,
 48628,
 48642,
 48643,
 48644,
 48645,
 48646,
 48647,
 48648,
 48658,
 48660,
 48663,
 48596,
 48595,
 48586,
 48582,
 48580,
 48576,
 48560,
 48554,
 48552,
 48551,
 48550,
 48536,
 48535,
 48534,
 48532,
 48531,
 48529,
 48503,
 48502,
 48499,
 48498,
 48497,
 48494,
 48433,
 48430,
 48429,
 48426,
 48373,
 48372,
 48371,
 48369,
 48365,
 48362,
 48360,
 48245,
 48243,
 48241,
 48238,
 39810,
 39809,
 39808,
 39807,
 42248,
 42249,
 42250,
 42251,
 42253,
 42254,
 39800,
 39795,
 39794,
 39793,
 39790,
 39789,
 36473,
 36477,
 36478,
 25047,
 48105,
 48106,
 48107,
 48172,
 48173,
 48175,
 48177,
 48181,
 48279,
 48282,
 48283,
 48284,
 48286,
 48288,
 48289,
 48404,
 48407,
 48408,
 48412,
 48413,
 48470,
 48471,
 48473,
 48474,
 48477,
 48478,
 48509,
 48510,
 48511,
 48513,
 38406,
 38405,
 38402,
 38398,
 38397,
 35447,
 35448,
 35449,
 35445,
 35444,
 35441,
 35437,
 32704,
 32698,
 32697,
 32719,
 32720,
 32724,
 32725,
 35460,
 35462,
 35463,
 35464,
 35465,
 35466,
 35468,
 35469,
 38417,
 38419,
 38423,
 38426,
 32737,
 32738,
 32739,
 32740,
 32742,
 32743,
 35480,
 35482,
 35483,
 35485,
 35486,
 35487,
 35488,
 39453,
 39454,
 38320,
 38319,
 38318,
 38317,
 38316,
 38321,
 38126,
 38130,
 38133,
 38134,
 38138,
 38136,
 38143,
 38141,
 38139,
 38148,
 38149,
 37710,
 37713,
 37714,
 37715,
 40539,
 40540,
 40541,
 40543,
 40545,
 40547,
 38302,
 38301,
 38300,
 34797,
 34795,
 34794,
 34793,
 34792,
 34791,
 35114,
 35112,
 35115,
 38092,
 38095,
 38096,
 38098,
 40652,
 40656,
 40657,
 40663,
 40666,
 40665,
 40662,
 40661,
 42117,
 42120,
 42119,
 42124,
 42127,
 42126,
 42125,
 42130,
 34829,
 34826,
 34845,
 34844,
 34843,
 34841,
 34842,
 38172,
 38176,
 38177,
 38173,
 38175,
 38181,
 38180,
 38179,
 38183,
 38185,
 38331,
 38330,
 34808,
 34900,
 34902,
 34910,
 34911,
 37749,
 37751,
 37755,
 37757,
 37759,
 37764,
 37766,
 37768,
 37771,
 39837,
 39839,
 39841,
 39849,
 39851,
 39853,
 39850,
 39847,
 39840,
 39838,
 39836,
 37762,
 37763,
 37758,
 37750,
 37752,
 37753,
 37748,
 34912,
 34909,
 34905,
 34904,
 34897,
 32752,
 32753,
 32757,
 32759,
 35510,
 35511,
 35512,
 35513,
 35515,
 35516,
 35517,
 35520,
 35522,
 35523,
 35524,
 35529,
 35528,
 35525,
 35526,
 39458,
 39459,
 39460,
 34109,
 24894,
 24903,
 24893,
 24892,
 24899,
 24900,
 24897,
 24895,
 24904,
 24906,
 24907,
 46224,
 46222,
 46221,
 46220,
 43146,
 43142,
 43143,
 43141,
 43139,
 43140,
 43138,
 41674,
 41673,
 41672,
 43199,
 43194,
 43203,
 43211,
 43208,
 43216,
 43213,
 44946,
 44945,
 43212,
 43206,
 43209,
 43196,
 43192,
 43191,
 43190,
 43188,
 43187,
 43193,
 43200,
 43204,
 43205,
 43215,
 44944,
 44942,
 44941,
 44940,
 44947,
 44948,
 44949,
 44950,
 43155,
 44922,
 44923,
 44924,
 44925,
 44926,
 44927,
 44928,
 45048,
 45049,
 45050,
 44914,
 44912,
 44910,
 44909,
 43124,
 43123,
 45062,
 47404,
 47400,
 47401,
 47402,
 47403,
 47397,
 47399,
 47396,
 46911,
 46909,
 46906,
 46908,
 46905,
 46904,
 46901,
 46133,
 46131,
 34936,
 34938,
 34939,
 34941,
 38355,
 35291,
 35297,
 35296,
 35103,
 35104,
 37655,
 37656,
 37658,
 37659,
 37662,
 37663,
 34746,
 34743,
 34745,
 34753,
 35336,
 34772,
 34776,
 34777,
 34779,
 37690,
 37691,
 37692,
 37694,
 37695,
 37697,
 37699,
 40494,
 40495,
 40500,
 40503,
 39865,
 39864,
 39863,
 39866,
 39867,
 42282,
 42283,
 42284,
 42286,
 43847,
 43848,
 43851,
 43853,
 43854,
 45464,
 45465,
 45466,
 45469,
 43819,
 43823,
 43822,
 43825,
 43826,
 43828,
 43829,
 43831,
 43834,
 43833,
 45437,
 45444,
 45447,
 45449,
 45451,
 45454,
 45455,
 46561,
 46565,
 46567,
 46582,
 46585,
 47353,
 47354,
 46581,
 46578,
 46583,
 46576,
 46580,
 46573,
 46571,
 46569,
 46566,
 46562,
 45452,
 45445,
 45440,
 45953,
 45958,
 45957,
 45951,
 44569,
 44557,
 44555,
 44554,
 44556,
 45927,
 34981,
 34983,
 34987,
 34988,
 34989,
 34990,
 37788,
 37791,
 37792,
 37793,
 37797,
 37796,
 37794,
 37795,
 37800,
 39879,
 39880,
 39882,
 39883,
 39885,
 39886,
 39888,
 42301,
 42305,
 42308,
 43948,
 43951,
 43934,
 43932,
 43933,
 43930,
 43927,
 43915,
 43910,
 43906,
 43896,
 43905,
 43891,
 43889,
 43908,
 43903,
 43895,
 43909,
 43900,
 43904,
 43913,
 43911,
 43902,
 43899,
 43901,
 43898,
 43914,
 46055,
 46056,
 46057,
 35127,
 38243,
 38244,
 38249,
 35003,
 35002,
 34999,
 35120,
 35121,
 37817,
 37818,
 37821,
 37823,
 37827,
 37828,
 37829,
 39899,
 39900,
 39902,
 39903,
 39904,
 39905,
 39906,
 39907,
 39908,
 42321,
 42325,
 42326,
 42327,
 42330,
 44535,
 48085,
 48087,
 48089,
 48090,
 48150,
 48154,
 48156,
 48160,
 48159,
 48158,
 48161,
 48256,
 48258,
 48259,
 48260,
 48261,
 48262,
 48263,
 48264,
 48265,
 48387,
 48391,
 48392,
 48393,
 48456,
 48457,
 48458,
 48459,
 34116,
 34115,
 36492,
 36493,
 36496,
 36497,
 38482,
 38484,
 38491,
 38490,
 38489,
 38488,
 38487,
 35570,
 32831,
 32829,
 32828,
 38500,
 38499,
 39237,
 39238,
 39239,
 39240,
 39242,
 35647,
 35646,
 32859,
 32856,
 32854,
 36509,
 36510,
 36513,
 36514,
 36515,
 36516,
 38548,
 38551,
 35639,
 35634,
 35632,
 35626,
 35625,
 35622,
 35619,
 35617,
 35621,
 35616,
 32845,
 34087,
 34086,
 34079,
 32869,
 32870,
 32871,
 35668,
 35669,
 35670,
 35671,
 33479,
 33472,
 33470,
 33478,
 33483,
 33482,
 33475,
 33473,
 33481,
 33486,
 33488,
 33489,
 33490,
 33493,
 33494,
 33495,
 34130,
 38582,
 38581,
 38580,
 38577,
 35690,
 35689,
 35687,
 35686,
 32877,
 32879,
 32880,
 32881,
 39378,
 39381,
 41642,
 39379,
 39380,
 41640,
 40987,
 40989,
 40990,
 40991,
 41644,
 42840,
 42844,
 42843,
 42842,
 42850,
 42849,
 42853,
 42852,
 42851,
 42856,
 42855,
 42858,
 45038,
 41023,
 41022,
 41021,
 41017,
 41013,
 41014,
 41015,
 38607,
 38605,
 38602,
 38603,
 38600,
 38599,
 38597,
 35708,
 35707,
 35706,
 35705,
 35704,
 35703,
 32887,
 32886,
 32885,
 44730,
 44733,
 44734,
 44735,
 44737,
 44738,
 46151,
 46152,
 46153,
 46154,
 46156,
 46157,
 46158,
 46162,
 46164,
 46165,
 46924,
 46925,
 46927,
 46929,
 46931,
 46932,
 46933,
 46935,
 43262,
 43258,
 43257,
 43250,
 43251,
 43252,
 43249,
 43247,
 43246,
 43248,
 43245,
 43242,
 43241,
 43243,
 36838,
 36839,
 36840,
 36842,
 36844,
 35417,
 35413,
 35411,
 35410,
 35408,
 38638,
 38637,
 38634,
 38635,
 38633,
 38630,
 38631,
 38629,
 36548,
 39254,
 38646,
 38652,
 38651,
 39288,
 39290,
 39289,
 39285,
 39286,
 39279,
 39284,
 39283,
 39280,
 33614,
 33615,
 33613,
 33616,
 33618,
 33620,
 33621,
 32895,
 35739,
 33662,
 33659,
 33658,
 ...]

In [10]:
(48664, 45442)

(48664, 45442)

In [11]:
(42890, 42890)

(42890, 42890)

In [12]:
ADD_OSM_DATA=True
if ADD_OSM_DATA:
    t1=time.time()
    edges=osm_edges_df['edge']
    osm_nodes_data=nx.edge_subgraph(G_osm,edges).nodes(data=True)
    
    string_list=',\n'.join(['(%i,ST_GeomFromText(\'%s\'))'%(node,Point(data['lon'],data['lat']).wkt) for node,data in osm_nodes_data])
    cmd="INSERT IGNORE INTO %s(osm_id,geometry) VALUES %s;"%(osm_nodes_table_name,string_list)
    cursor.execute(cmd)

    intersecting_edges=intersection['edge'].unique()
    string_list=',\n'.join(['(%i,%i,%i,%f,TRUE)'%(edge[0],edge[1],edge[2],G_osm.get_edge_data(*edge)['length']) for edge in intersecting_edges])
    cmd="INSERT INTO %s(osm_begin,osm_end,osm_key,length,intersects) VALUES %s;"%(osm_edges_table_name,string_list)
    cursor.execute(cmd)

    inside_edges=set(edges).difference(intersecting_edges)

    string_list=',\n'.join(['(%i,%i,%i,%f,False)'%(edge[0],edge[1],edge[2],G_osm.get_edge_data(*edge)['length']) for edge in inside_edges])
    cmd="INSERT INTO %s(osm_begin,osm_end,osm_key,length,intersects) VALUES %s;"%(osm_edges_table_name,string_list)
    cursor.execute(cmd)


    ###


    ###SOLVE IGNORE




    ###
    intersection=intersection.to_crs('epsg:4326')
#    step=10000
#    for k in range(0,len(intersection)):
#        sub_intersection=intersecion.iloc[k:min(len(intersection,k+step)]
    string_list=',\n'.join(['(%i,%i,%i,%f,%f,ST_GeomFromText(\'%s\'))'%(row['edge'][0],row['edge'][1],row['edge'][2],row['edge_coordinate'],row['elevation'],row['geometry'].wkt)  for _,row in intersection.iterrows()])
    cmd="INSERT INTO %s (`osm_begin`,`osm_end`,`osm_key`,`edge_coordinate`,`elevation`,`geometry`) VALUES %s;"%(intersections_table_name,string_list)
    cursor.execute(cmd)
    
    t2=time.time()
    print(t2-t1)
2

IntegrityError: 1062 (23000): Duplicate entry '2360730252-6942635364-0-891.229' for key 'intersections.osm_begin'